  @font-face {
      font-family: "Poppins-Regular";
      src: local("Poppins-Regular"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
  
  @font-face {
      font-family: "Poppins-Medium";
      src: local("Poppins-Medium"), url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  }
  
  @font-face {
      font-family: "Poppins-SemiBold";
      src: local("Poppins-SemiBold"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  }
  
  @font-face {
      font-family: "Montserrat-Regular";
      src: local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  }
  
  @font-face {
      font-family: "Montserrat-Medium";
      src: local("Montserrat-Medium"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  }
  
  @font-face {
      font-family: "Montserrat-SemiBold";
      src: local("Montserrat-SemiBold"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  }